/* Outside fonts*/
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Animations */
@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 75px 75px;
    }
}

/* Base */
html,
body,
#wrapper {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

/* Layering */
.background {
    z-index: -1;
}

.content {
    z-index: 0;
}

.logo, .title_bar, .sidenav, .footnote {
    z-index: 1;
}

.more_top, .more_bottom {
    z-index: 2;
}

/* Tags */
a, button {
    font-family: var(--button-font-family);
}

button {
    border: var(--accent4) 0 solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    color: black;

    transition: all 0.5s ease-in-out;
    box-shadow: none;
}

button:enabled {
    background-color: white;
    cursor: pointer;
}

button:enabled:hover {
    background-color: var(--accent3);
    border: var(--accent4) 10px solid;
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

h1,
h2,
h3 {
    backdrop-filter: blur(2px) brightness(50%);
    margin: 0 !important;
    padding: 20px;
    text-align: center;
}

li {
    margin: 15px;
}

/* Elements */
#wrapper {
    * {
        scrollbar-color: transparent transparent;
    }

    color: white;
    font-family: var(--font-family);
    
    transition: var(--snap);
    transition-property: translate;

    display: grid;
    grid-template-columns: 300px 1.7fr 320px;
    grid-template-rows: 110px 100px 1.4fr 1.2fr 75px 50px;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;

    grid-template-areas:
        "logo title_bar more_top"
        "logo content content"
        "sidenav content content"
        "sidenav content content"
        "more_bottom content content"
        "reader footnote footnote";

    --snap: 500ms cubic-bezier(1, 0, 0, 1);
    --font-family: "Roboto Slab", "Courier New", Courier, monospace;
    --button-font-family: 'Courier New', Courier, monospace;

    --title-font-size: 48px;
    --content-font-size: 22px;
    --content-small-font-size: 18px;
    --content-tiny-font-size: 14px;

    --accent: rgb(136, 52, 233);
    --accent2: rgb(52, 115, 233);
    --accent3: #fcd838;
    --accent4: #d6734f;
    --accent5: rgb(46, 46, 46);
}

/*-- Layout changes --*/
#wrapper.full {
    translate: 0 0;
}

#wrapper.stripped {
    width: calc(100% + 300px);

    .title_bar, .logo {
        cursor: pointer;
    }
}

#wrapper.superspace {
    --title-font-size: 48px;
    --content-font-size: 20px;
    --content-small-font-size: 18px;
    --content-tiny-font-size: 11px;

    .more_top {
        translate: 0 -180px;
    }
    .more_bottom {
        translate: 0 0;
    }
}

/*-- Background --*/
.background {
    grid-area: content / content / footnote / footnote;
    
    background-image: url("background.svg");
    background-color: var(--accent5);
    background-size: 75px 75px;

    animation: slide 5s linear infinite;
}

/*-- Logo --*/
.logo_background {
    grid-area: logo;
    
    background-image: url("/static/logo/tt_thoma.png");
    background-size: cover;
    background-position: center center;
}

.logo,
.title_bar {
    display: flex;
    align-items: center;
    font-family: "Nabla";
    font-size: var(--title-font-size);
}

.logo {
    grid-area: logo;
    background-color: rgba(0, 0, 0, 0.5);
}

/*-- Top bar --*/
.title_bar {
    grid-area: title_bar / title_bar / more_top / more_top;

    text-align: center;
    padding-left: 30px;

    span {
        transition: all 20ms linear;
    }
}

.more_top, .more_bottom {
    transition: var(--snap);
    transition-property: translate;
}

.more_top {
    grid-area: more_top;

    display: flex;

    align-items: center;
    text-align: center;

    a button {
        height: 80px;

        margin: 26px;
        margin-left: 12px;
        margin-right: 12px;
        padding: 18px;
        aspect-ratio: 1;

        border-radius: 999px;
    }
}

/*-- Sidenav --*/
.sidenav, .more_reader {
    display: flex;
    flex-direction: column;
}

.sidenav {
    grid-area: sidenav / sidenav / more_bottom / more_bottom;
    background-color: var(--accent);
    overflow-y: scroll;
    padding: 20px;

    padding-bottom: 75px;

    button {
        font-weight: bold;
        font-size: 18px;

        flex: 0 1;
        min-height: 80px;
        max-height: 80px;
        /* padding: 20px; */
        margin: 10px;
    }

    .spacer {
        margin: 0;
        padding: 0;

        height: 100%;
        width: 0;
    }
}

.more_bottom {
    grid-area: more_bottom;

    translate: -320px 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding-left: 10px;
    padding-right: 10px;


    a {
        flex: 1 1;
        height: 90%;

        margin-left: 10px;
        margin-right: 10px;

        button {
            width: 100%;
            height: 90%;
            border-radius: 999px;
        }
    }
}

.more_reader {
    grid-area: reader;
    background-color: white;
    text-align: center;
    justify-content: center;

    a {
        flex: 0 1;
        color: black;
    }

    a:hover {
        color: var(--accent4)
    }
}

/*-- Content area --*/
.content {
    grid-area: content / content / footnote / footnote;

    display: flex;
    flex-direction: column;
    transition: var(--snap);
    transition-property: translate;

    padding-bottom: 50px;

    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
    );

    font-size: var(--content-font-size);

    overflow-y: scroll;

    a {
        color: var(--accent4);
        padding: 5px;
        margin: 5px;
        text-decoration: none;
        text-align: center;

        border-left: var(--accent4) 3px solid;
        border-bottom: var(--accent4) 3px solid;
        background-color: white;
    }

    a:visited {
        color: var(--accent2);
    }

    div {
        background-color: rgba(255, 255, 255, 0.25);
        color: black;
        padding: 30px;
        backdrop-filter: blur(1px) invert(100%);
        margin: 15px;
        /* border-radius: 20px; */
    }

    div.bordered {
        border-left: solid var(--border-color) 15px;
        border-right: solid var(--border-color) 15px;
    }

    div.small {
        font-size: var(--content-small-font-size);
        padding: 10px;
        h1, h2, h3 {
            padding: 5px;
        }
        * {
            margin: 5px;
        }
    }
}

.footnote {
    grid-area: footnote;
    padding: 15px;

    font-style: italic;
    color: gray;
    font-size: 15px;
    text-align: center;

    transition: all 1s cubic-bezier(1, -0.15, 0.01, 1.15);

    background-color: var(--accent5);
}

/* Hover animation */
.sidenav, .title_bar {
    background: linear-gradient(135deg, var(--accent) 0%, var(--accent4) 100%);
    background-size: 200% 200%;
    transition: all 1s ease-in-out; 
}

.sidenav:hover, .title_bar:hover {
    background-size: 100% 100%;
}
