@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
    width: 100%;

    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* 430 + 360 + 380 */
body {
    font-family: var(--font-family);
    color: white;
    transition: var(--snap);
    transition-property: translate;

    display: grid;
    grid-template-columns: 360px 1.7fr 380px;
    grid-template-rows: 180px 1.4fr 1.2fr 60px;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;

    grid-template-areas:
        "logo title_bar more"
        "sidenav content content"
        "sidenav content content"
        "sidenav footnote footnote";

    --snap: 500ms cubic-bezier(1, 0, 0, 1);
    --font-family: "SN Pro", "Roboto", "Calibri", sans-serif;

    --title-font-size: 60px;
    --content-font-size: 28px;
    --content-small-font-size: 23px;
    --content-tiny-font-size: 18px;

    --accent: rgb(136, 52, 233);
    --accent2: rgb(52, 115, 233);
    --accent3: #fcd838;
    --accent4: #d6734f;
    --accent5: rgb(46, 46, 46);
}

.background {
    z-index: -1;
}

#content {
    z-index: 0;
}

.logo, .title_bar, #sidenav, .footnote {
    z-index: 1;
}

#more_top {
    z-index: 2;
}

body.full {
    translate: 0 0;
}

body.stripped {
    width: calc(100% + 360px);
}

button {
    font-family: var(--font-family);

    border: var(--accent4) 0 solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    color: black;

    transition: all 0.5s ease-in-out;
    box-shadow: none;
}

button:enabled {
    background-color: white;
    cursor: pointer;
}

button:enabled:hover {
    background-color: var(--accent3);
    border: var(--accent4) 10px solid;
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

h1,
h2,
h3 {
    backdrop-filter: blur(2px) brightness(50%);
    margin: 0 !important;
    padding: 20px;
    text-align: center;
}

li {
    margin: 15px;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 75px 75px;
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url("background.svg");
    background-color: var(--accent5);
    background-size: 75px 75px;

    animation: slide 5s linear infinite;
}

.logo,
.title_bar {
    display: flex;
    align-items: center;
    font-family: "Nabla";
    font-size: var(--title-font-size);
    background-color: var(--accent);
}

.logo {
    grid-area: logo;
}

.title_bar {
    grid-area: title_bar / title_bar / more / more;

    text-align: center;
    padding-left: 50px;

    span {
        transition: all 20ms linear;
    }
}

#more_top {
    display: flex;

    align-items: center;
    text-align: center;

    transition: var(--snap);
    transition-property: translate;
}

#more_top {
    grid-area: more;
    
    a button {
        width: 95px;

        margin: 26px;
        margin-left: 12px;
        margin-right: 12px;
        padding: 18px;
        aspect-ratio: 1;

        border-radius: 999px;
    }
}

#sidenav {
    grid-area: sidenav;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    padding: 20px;

    button {
        font-weight: bold;
        font-size: 24px;

        border-radius: 10px;
        flex: 0 1;
        min-height: 80px;
        max-height: 80px;
        /* padding: 20px; */
        margin: 10px;
    }

    .spacer {
        margin: 0;
        padding: 0;

        height: 100%;
        width: 0;
    }
}

#content {
    grid-area: content / content / footnote / footnote;

    display: flex;
    flex-direction: column;
    transition: var(--snap);
    transition-property: translate;

    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
    );

    font-size: var(--content-font-size);

    overflow-y: scroll;

    a {
        color: var(--accent4);
        padding: 5px;
        margin: 5px;
        text-decoration: none;
        text-align: center;

        border-left: var(--accent4) 3px solid;
        border-bottom: var(--accent4) 3px solid;
        background-color: white;
    }

    a:visited {
        color: var(--accent2);
    }

    div {
        background-color: rgba(255, 255, 255, 0.25);
        color: black;
        padding: 30px;
        backdrop-filter: blur(1px) invert(100%);
        margin: 15px;
        /* border-radius: 20px; */
    }

    div.bordered {
        border-left: solid var(--border-color) 15px;
        border-right: solid var(--border-color) 15px;
    }

    div.compact {
        font-size: var(--content-small-font-size);
        padding: 10px;
        h1, h2, h3 {
            padding: 5px;
        }
        * {
            margin: 5px;
        }
    }
}

.footnote {
    grid-area: footnote;
    padding: 15px;

    font-style: italic;
    color: gray;
    font-size: 15px;
    text-align: center;

    transition: all 1s cubic-bezier(1, -0.15, 0.01, 1.15);

    background-color: var(--accent5);
}
